<!-- Footer Start -->
<footer id="footer">
    <div class="f-content">
      <p>
        Explore the latest in mobile accessories with us. Your satisfaction is
        our priority.
      </p>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
    <br />
    <div class="c-content">
      &copy; Copyright Mobile Accessories Inc. All Rights Reserved <br />
      <span>Designed By <a href="#">Amine </a></span>
    </div>
  </footer>
  <!-- Footer End -->
  