 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-sm" id="navbar">
    <a href="index.html" class="navbar-brand" id="logo"
      ><img src="./images/logo.png" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Order</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Reviews</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>
  
      <form class="d-flex">
        <input
          type="text"
          class="form-control me-2"
          placeholder="Search"
          required
        />
        <button type="button" id="btn">Search</button>
      </form>
    </div>
  </nav>
  <!-- Navbar End -->