 <!-- Contact Section Start -->
 <section class="contact" id="contact">
    <div class="heading">Contact <span>us</span></div>
    <div class="row">
      <div class="col-md-5 py-3 py-md-0">
        <h3>Let's Get In Touch</h3>
        <p>
          Feel free to reach out to us for any inquiries or assistance. We are
          here to help!
        </p>
        <i class="fa-solid fa-phone"><span> +216 92829626</span></i
        ><br /><br />
        <i class="fa-solid fa-envelope"><span> amine.boozidi.gmail.com</span></i
        ><br /><br />
        <i class="fa-solid fa-location-dot"
          ><span> Nefta, Tozeur, Tunisia</span></i
        >
      </div>

      <div class="col-md-7 py-3 py-md-0">
        <form action="#">
          <div class="mb-3 mt-3">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter Your Name"
              required
            />
          </div>

          <div class="mb-3 mt-3">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter Your Email"
              required
            />
          </div>

          <div class="mb-3 mt-3">
            <input
              type="number"
              class="form-control"
              id="number"
              placeholder="Enter Your Phone Number"
              required
            />
          </div>

          <textarea
            class="form-control"
            id="message"
            rows="5"
            name="text"
            placeholder="Enter Your Message"
            required
          ></textarea>

          <button type="submit" class="contact-btn">Send Message</button>
        </form>
      </div>
    </div>
  </section>
  <!-- Contact Section End -->